@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
  --time-font:'Righteous', cursive;
  --main-font: 'Poppins', sans-serif;
  --main-color: #134142;
}

body{
  min-height: 100vh;
  background-color: var(--main-color);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
}

.header_section{
  display: flex;
  align-items: baseline;
  gap: 10px;
  text-transform: uppercase;
}

.header_section i {
  font-size: 27px;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.social_section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.social_section i {
  font-size: 25px;
  padding-right: 15px;
  color: #699697;
  transition: all .3s ease-in-out;
}

.social_section a{
  transition: transform .2s ease-in-out;
}

.social_section i:hover, a:hover{
  transform: translateY(-5px);
  color: #dce2e2;
}

.relugation_page{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  height: 100%;
  background-color: var(--main-color);
}

.relugation_page_box{
  padding: 35px;
  background-color: rgba(250, 235, 215, 0.26);
  width: 60vw;
  transition: width .4s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .relugation_page_box{
    width: 45vw;
  }
}

@media screen and (max-width: 1024px) {
  .relugation_page_box{
    width: 70vw;
  }
}

@media screen and (max-width: 768px) {
  .relugation_page_box{
    width: 85vw;
  }
}

@media screen and (max-width: 480px) {
  .relugation_page_box{
    width: 90vw;
  }
}

label{
  display: block;
  padding:7px 0 ;
  color: white;
  font-family: var(--main-font);
  font-size: 18px;
}

input{
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid #699697;
  padding: 15px 10px;
  color: white;
  font-family: var(--time-font);
  font-size: 20px;
  margin-bottom: 5px;
}

input::placeholder{
  color: #709c9c;
}
input:focus,input:focus-visible,input:valid{
  box-shadow: 0 0 15px rgba(105, 150, 151,1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.relugation_upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
  border-bottom: solid 2px #699697;
  margin-bottom: 10px;
  height: 50px;
  font-family: var(--main-font);
  letter-spacing: .5px;
  color: white;
}

select,option{
  display: none;
}

.relugation_upper .close-btn{
  font-size: 27px;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.relugation_upper .close-btn:hover{
  text-shadow: 0 0 10px white;
  transform: translateY(-3px);
}

.relugation_page_box .form-btn{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.relugation_page_box .form-btn button{
  padding: 15px 35px;
  background-color: #339294;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: white;
  font-family: var(--main-font);
  border-radius: 4px;
}

.main_section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_time{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 15px solid #699697;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  font-family: var(--time-font);
  font-size: 34px;
}

.main_process{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  margin-top:25px;
  cursor: pointer;
}

.regulation-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px 45px;
  border: solid 2px #699697;
  color: white;
  font-size: 18px;
  font-family: var(--main-font);
}

.main_process button {
  font-size: 30px;
  background-color: transparent;
  border: 2px solid #699697;
  height: 55px;
  width: 55px;
  color: white;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100%;
  color: white;
  font-family: var(--main-font);
}

.footer_main p{
  font-size: 18px;
  font-family: var(--main-font);
}

.footer_section p span{
  font-weight: 500;
  font-style: italic;
}